<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if log}}
        <header>
            <nav>
                <a>{{nome_gerente}}</a>
                <a href="/home">Home</a>
                <a href="/logout">Logout</a>
                <a href="/listar_setores">Listar Setores</a>
                <a href="/atualizar_setores">Atualizar Setores</a>
                <a href="/cadastrar_setores">Cadastrar Setores</a>
                <a href="/apagar_setores">Apagar Setores</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/listar_atividades">Listar Atividades</a>
                <a href="/atualizar_atividades">Atualizar Atividades</a>
                <a href="/cadastrar_atividades">Cadastrar Atividades</a>
                <a href="/apagar_atividades">Apagar Atividades</a>
            </nav>
        </header>
    {{else}}
        <header>
            <nav>
                <a href="/">Login</a>
            </nav>
        </header>
    {{/if}}
    <main>
        {{{body}}}
    </main>
</body>
</html>