<h1>Apagar Setores</h1>

<form action="/apagar_setores" method="post">
<label for="">Número do Setor : </label>
<input type="text" name="num_setor" id=""><br>
<button type="submit">Apagar</button>
</form>