<h1>Apagar Atividades</h1>

<form action="/apagar_atividades" method="post">
<label for="">Número da Atividade : </label>
<input type="text" name="num_atividade" id=""><br>
<button type="submit">Apagar</button>
</form>