<h1>Atualizar Atividades</h1>

<form action="/atualizar_atividades" method="post">
<label for="">Id da Atividade : </label>
<input type="text" name="id" id=""><br>

<label for="">Número da Atividade : </label>
<input type="text" name="num_atividade" id=""><br>

<label for="">Nome da Atividade : </label>
<input type="text" name="nome_atividade" id=""><br>

<label for="">Id do Setor: </label>
<input type="text" name="setorId" id=""><br>
<button type="submit">Atualizar</button>
</form>