<h1>Atualizar Setores</h1>

<form action="/atualizar_setores" method="post">
<label for="">Id do Setor : </label>
<input type="text" name="id" id=""><br>
<label for="">Número do Setor : </label>
<input type="text" name="num_setor" id=""><br>
<label for="">Nome do Setor : </label>
<input type="text" name="nome_setor" id=""><br>
<label for="">Id do Gerente : </label>
<input type="text" name="gerenteId" id=""><br>
<button type="submit">Atualizar</button>
</form>