<h1>Cadastrar Atividades</h1>

<form action="/cadastrar_atividades" method="post">
<label for="">Número da Atividade : </label>
<input type="number" name="num_atividade" id=""><br>
<label for="">Nome da Atividade : </label>
<input type="text" name="nome_atividade" id=""><br>
<label for="">Id do Setor : </label>
<input type="number" name="setorId" id=""><br>
<button type="submit">Cadastrar</button>
</form>