<h1>Cadastrar Setores</h1>

<form action="/cadastrar_setores" method="post">
<label for="">Número do Setor : </label>
<input type="number" name="num_setor" id=""><br>
<label for="">Nome do Setor : </label>
<input type="text" name="nome_setor" id=""><br>
<label for="">Id do Gerente : </label>
<input type="number" name="gerenteId" id=""><br>
<button type="submit">Cadastrar</button>
</form>