<h1>Listar Setores</h1>

<table border="1">
    <thead>
        <th>Id</th>
        <th>Número do Setor</th>
        <th>Nome do Setor</th>
        <th>Id do Gerente</th>
    </thead>
    {{#each dados}}
    <tbody>
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.num_setor}}</td>
            <td>{{this.nome_setor}}</td>
            <td>{{this.gerenteId}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>